<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Focus timer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>712F68ED1F46D49100E12B4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F69011F46D49100E12B4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712F690C1F46D49100E12B4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71E63A0F1F52B4CA009F84F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
